@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-dark: #1a1a1d;
  --color-text: #e5e7eb;
  --color-indicado: #3b82f6; /* azul */
  --color-gasto: #fbbf24; /* amarelo */
  --color-alerta: #f43f5e; /* rosa/vermelho */
  --color-economia: #34d399; /* verde */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html,
body,
div,
section,
main,
aside {
  user-select: none;
  cursor: default;
}
